*{
     font-family: 'LuckiestGuy', sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* NEU: vertikale Zentrierung */
    min-height: 100vh; 
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('img/3. Background/Mesa de trabajo 1.png');
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

h1{
    font-size: clamp(32px, 2.5vw + 24px, 60px); 
}

@font-face {
  font-family: 'LuckiestGuy';
  src: url('img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype'); /* NEU */
  font-display: swap;
}

/* NEU */
.game-wrapper {
  position: relative;
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('img/3. Background/Mesa de trabajo 1.png');
  background-position: center center;
  color: white;
}

.btn{
  padding: 20px 20px 10px 20px;
  background-color: #531A82;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 20px;
  font-size: 30px;
}

.btn:hover{
  background-color: #7FFFE0;
  color: #531A82;
}

canvas{
    background-color: #000;
}